@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

.body {
  height: 100vh;
  width: 100%;
  background: 
     linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),/* the gradient on top, adjust color and opacity to your taste */
      url("img/bg-mountain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Montserrat;
}

input, label {
  display: block;
}

.white {
  color: white;
}

.input {
  height: 1.8rem;
  width: 50vw;
  border-radius: 25px;
  border-color: black;
  margin-top: 2vh;
  padding-left: 10px;
}

.access-sidebar {
  background-color: rgb(253, 253, 253);
  width: 40%;
  height: 100%;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .access-sidebar {
    width: 70%;
    text-align: center;
    padding: 5px;
  }
}

.light-text {
  font-family: Montserrat;
  font-weight: 300;
}

.input-box {
  width: 100%;
  overflow: hidden;
}

.dashboard-body {
  font-family: Montserrat;
}

h2 {
  color: #4D4D4D;
  font-size: 4rem !important;
  font-weight: 400 !important;
  font-family: Montserrat;
}

.side-bar-icon {
  height: 20vh;
  text-align: center;
  display: flex;
  align-items: center;
  color: #C5C5C5;
}

.side-bar-icon:hover {
  cursor: pointer;
  background-color: #5b797c;
}

.side-bar-icon-selected {
  background-color: #7EA8AD;
  color: white;
}

.icon {
  position: relative; 
  top: 20px;
}

.add-application-input {
  border: 4px solid #7EA8AD;
  padding: 5px 10px;
  margin-bottom: 10px;
  color: #626363;
}

.add-application-btn:hover {
  background-color: #5d7a7e;
}

.add-application-btn {
  border: none;
  padding: 5px 50px;
  background-color: #7EA8AD;
  color: #FFFFFF;
}

.app-col-info {
  font-size: 0.8rem;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5px;
}

.bold {
  font-weight: bold;
}

.function-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.enabled:hover {
  cursor: pointer;
  opacity: 0.75;
}

.disabled {
  opacity: 0.5;
}

.disabled:hover {
  cursor: not-allowed;
}

.application-container {
  overflow-y: scroll;
  overflow-x: hidden;
}

.menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #7EA8AD;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: #C5C5C5;
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
}

.menu-open {
  width: 50vw;
}

.menu:hover{
  cursor: pointer;
}

.menu-container {
  width: auto;
  height: inherit;
  margin-left: 10px;
  margin-right: 10px;
}

.low-ss-input {
  width: 90%;
  border: 4px solid #7EA8AD;
}

.low-ss-add-btn {
  width: 80px;
  border: none;
  background-color: #7EA8AD;
  color: white;
  margin-top: 2vh;
  font-family: 'Montserrat';
  font-size: 0.7rem;
  height: 3vh;
}